<!doctype html>
<html lang="es">
  <head>
    <title>Coder House</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Coderhouse</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/productos/vista">Productos</a>
          <a class="nav-item nav-link" href="/carrito">Carrito</a>
          <a class="nav-item nav-link" href="/user">Usuario</a>
        </div>
      </div>
    </nav>

    <section class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 filtrosBusqueda">
            <form method="GET" action="/productos/buscarNombre">
                <input type="text" name="title" class="form-control mb-3" id="title" placeholder="Buscar por nombre" />
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </form>
            <form method="GET" action="/productos/buscarCodigo">
                <input type="text" name="codigo" class="form-control mb-3" id="codigo" placeholder="Buscar por c칩digo" />
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </form>
            <form method="GET" action="/productos/buscarPrecio">
                <input type="text" name="minimo" class="form-control mb-3" id="minimo" placeholder="Precio minimo" />
                <input type="text" name="maximo" class="form-control mb-3" id="maximo" placeholder="Precio maximo" />
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </form>
            <form method="GET" action="/productos/buscarStock">
                <input type="text" name="minimo" class="form-control mb-3" id="minimo" placeholder="Stock minimo" />
                <input type="text" name="maximo" class="form-control mb-3" id="maximo" placeholder="Stock maximo" />
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">            
              <table class="table" id="tabla-graphql">
                <thead>
                  <tr>   
                    <th scope="col">C칩digo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripci칩n</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>             
                    <th scope="col">Im치gen</th>
                  </tr>
                </thead>
                <tbody>
                            
                </tbody>
              </table>            
          </div>
        </div>
      </div>
    </section>    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script-- src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--script src="../../assets/js/script.js"></script-->
    <script>
      fetch('/productos/graphql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({ query: "{ productos {codigo, title, descripcion, price, stock, thumbnail} }" })
        })
        .then(r => r.json())
        .then(data => {
          console.log(data)
          data.data.productos.forEach(e =>{
              $('#tabla-graphql tbody').append(
                  `<tr>
                      <td>${e.codigo}</td>
                      <td>${e.title}</td>
                      <td>${e.descripcion}</td>
                      <td>${e.price}</td>
                      <td>${e.stock}</td>                
                      <td><img src="${e.thumbnail}" /></td>
                  </tr>`
              );
          });  
        })
        .catch(console.error)
  </script>
  </body>
</html>